#intro{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work{
  font-size: 70px;
  text-align: center;
  padding-top: 300px;
  color: black;
  font-family: 'Libre Barcode 39 Text', cursive;
}


.work a:hover{
  background-color: aliceblue;
}

.btn a:hover{
  background-color: white;
}
